<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="aboutBody">
    <h1>What is this app?</h1>
    <div class="aboutParagraph">
    <p>I'm a very forgetful person. It's something that I've always struggled with and
    I'm tired of constantly slapping myself in the back of the head for not recalling
    a particular event.

      I built this app with the intent of helping me to remember certain things that I
    cannot or wish to not forget about. This app can be used to store any type of data
    you wish however I intended it to be ment for small tidbits of data to remind you of
    something you were once fond of, something that made you laugh, a goal that
    you've set for yourself, or even to remind you do to a chore. It's ment so that in
    your spare time after a long time of building up memories in the database, you could
    go back and look at your memories page and view everything that you have chosen to store,
    sort of like a photo album, but with memories or thoughts. </p>
  </div>
</div>
  </body>
</html>
