<!DOCTYPE html>
<html ng-app="memoryApp">
<head>
  <meta charset="utf-8">
  <title>Memories</title>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="../assets/scripts/client.min.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/style.css">
</head>
<body ng-controller="MainController">
  <a href="/">Logout</a>
  <div class="container">
    <h2>Shall I remember something for you?</h2>
    <div>Memory Title: <input type="text" ng-model="home.memoryName"></div>
    <div>Memory Description:<br /> <textarea rows="4" cols="50" type ="text" ng-model="home.memoryDescription"></textarea></div>
    <button class="btn btn-primary" ng-click="addMemory(home)">Create Memory</button>
      <a href="/memories">Memories</a>
  </div>
</body>
</html>
