<!DOCTYPE html>
<html ng-app = "memoryApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>Memories</title>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="../assets/scripts/client.min.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/style.css">
</head>
<body id="memoryBody" ng-controller="MemoriesController">
<a href="/loginSecure/home">Remember something</a>
<div id="memoryHeading">
<!-- <img src="views/memoryTitle2.jpg" /> -->
<h1>Memories</h1>
</div>
  <div class="memoryBank" ng-repeat="memory in memories ">
    <h2 class="memoryPageTitle">{{memory.memoryName}}</h2> <br />
    <p class="memoryPageDescription">{{memory.memoryDescription}}</p>
    <button  class="btn btn-danger btn-sm" ng-click="removeMemory(memory)">Erase</button>

  </div>
</body>
</html>
