<!DOCTYPE html>
<html ng-app = "memoryApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>Memories</title>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="../assets/scripts/client.min.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/style.css">
</head>
<body id="memoryBody" ng-controller="MemoriesController">
  <a class="linkToHome" href="/loginSecure/home">Remember something else</a>
  <div id="memoryHeading">
    <h1 class="memoriesPageHeading">Memories</h1>
  </div>
  <div class="memoryBank" ng-repeat="memory in memories ">
    <h2 class="memoryPageTitle">{{memory.memoryName}}</h2> <br />
    <p class="memoryPageDescription">{{memory.memoryDescription}}</p>
    <p class="memoryDateCreated">Date Created: {{memory.dateCreatedString}}</p>
    <button  class="btn btn-danger btn-sm" ng-click="removeMemory(memory)">Erase</button>
    <hr />
  </div>
</body>
</html>
