<!DOCTYPE html>
<html ng-app = "memoryApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>Memories</title>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="../assets/scripts/client.min.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/style.css">
</head>

<a href="/loginSecure/home">Home</a>
<h1>Memories</h1>
<body ng-controller="MemoriesController">
  <div class="memoryBank well" ng-repeat="memory in memories ">
    {{memory.memoryName}} |
    {{memory.memoryDescription}}
    <button class="btn btn-primary" ng-click="removeMemory(memory)">Delete Memory</button>
  </div>
</body>
</html>
