<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>Register</title>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="assets/scripts/client.min.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/style.css">
  <link rel ="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
  <div class="registerBody">
    <h1 class="registerHeading">Register</h1>
    <div class="registerForm well">
      <form action = "/register" method="POST">
        <div>
          <label for="username">Username</label>
          <input  type="text" name="username" id="username"/>
        </div>
        <div>
          <label for="password">Password</label>
          <input  type="password" name="password" id="password"/>
        </div>
        <div>
          <input type="submit" value="Register"/>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
