input{
  display: -webkit-box;
}
div{
  margin: 10px;
}
/*Links*/
ul{
  list-style-type: none;
  display: -webkit-box;
}

li{
  margin: 5px;
}
/*Login Page*/
.loginHeading{
  text-align: center;
  background-color:
  margin: 0px;
  padding: 50px;
  width: 100%;
}
.loginForm{
  width: 30%;
  margin: auto;
}
.loginBody{

  width: 50%;
  margin: auto;
}
.registerBody{
  width: 50%;
  margin: auto;
}
.registerForm{
  width: 30%;
}
form{
  text-align: center;
}
#username{
  margin: auto;
}
#password{
  margin: auto;
}
/*Register*/
.registerHeading{
  text-align: center;
}
.registerForm{
  width: 30%;
  margin: auto;
}
/*Memories*/
.memoryBank{
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}


[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
.justAButton{
  margin-left: 289px;
}
.header{
  margin-top: 35px;
}
.memoryTitle{
  width: auto;
  margin: auto;
}
.container-fluid{
  padding: 0px;
}
footer{
  text-align: center;
}
a{
  margin: 5px;
}
.memoriesPageHeading{
  margin-bottom: 100px;
  font-size: 55px;
}
#memoryHeading{
  text-align: center;
  font-family: "Aguafina Script", cursive, serif;
}
#memoryBody{
  background-image: url('parchment.jpg');
  background-color: #C3B299
}
#indexBody{
  background-image: url('parchment.jpg');
}

#homeBody{
  background-image: url('parchment.jpg')
}
.memoryPageTitle{
  font-family: "Aguafina Script", cursive, serif;
}
.memoryPageDescription{
  font-family: cursive, serif;
  font-size: 20px;
}
.linkToHome{
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}
.homeInputs{
  text-align: center;
}
.aboutParagraph{
  width: 50%;
  margin: auto;
}
.aboutBody{
 text-align: center;
}
